<head>
 <script src="https://cesium.com/downloads/cesiumjs/releases/1.81/Build/Cesium/Cesium.js"></script>
  <link href="https://cesium.com/downloads/cesiumjs/releases/1.81/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script data-goatcounter="https://kd9kck.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

</head>

<style>
#overlay {
    position: absolute;
    left: 50px;
    top: 30px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    font-family: monospace;
    padding: 1em;
}

</style>

  <div id="cesiumContainer" style="width: 100%; height:100%"></div>
 <div id="overlay"><div><span id="credit"></span></div></div>
    <input type="checkbox" id="online" value="Online" onclick="update()">Online Stations?<br>
    <input type="checkbox" id="offline" value="Offline" onclick="update()">Offline Stations?<br>
    <input type="checkbox" id="testing" value="Testing" onclick="update()">Testing Stations?<br>
    <button onclick="toggle()">Toggle Speed Controls</button>
  <script>
    var timeElement = document.getElementById("credit");
    var timeNode = document.createTextNode("");
    timeElement.appendChild(timeNode)
    
    timeNode.nodeValue = "KD9KCK's Satnogs Map"

    document.getElementById("online").checked = true;

    Cesium.Ion.defaultAccessToken = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIwYmEwOTc5YS01N2I3LTRhYmQtOGE0MS1lNTkyMWU2ZmM3YWUiLCJpZCI6Njg1OCwic2NvcGVzIjpbImFzciIsImdjIl0sImlhdCI6MTU0NzU5ODkxOX0.p4alNyuyt_Eufuo8xX_SB6HKHuSixBTxgiVpD6UGI3Y';
    var viewer = new Cesium.Viewer('cesiumContainer',{shadows:true,timeline:false,vrButton:false,homeButton:false,animation:true,baseLayerPicker:false,navigationInstructionsInitiallyVisible:false,navigationHelpButton:false,imageryProvider :new Cesium.TileMapServiceImageryProvider({
   url : '/tilemap/',
   fileExtension: 'jpeg',
   maximumLevel: 3,
   tileWidth:512,
   tileHeight:512
})});
    //viewer.terrainProvider = Cesium.createWorldTerrain();
    viewer.scene.globe.shadows=Cesium.ShadowMode.CAST_ONLY;
    viewer.scene.globe.enableLighting = true;
    var now = new Cesium.JulianDate();
    viewer.clock.currentTime = now;
    viewer.clock.shouldAnimate = true
    toggle();
    update();
   temp = 0;
    viewer.camera.zoomIn(1000000*4);
    
    function icrf(scene, time) {
    if (scene.mode !== Cesium.SceneMode.SCENE3D) {
        return;
    }
    if (!viewer.clock.shouldAnimate) {
        return;    
    }
    t = Object();
    t.dayNumber = time.dayNumber;
    t.secondsOfDay = temp;
    
    icrfToFixed = Cesium.Transforms.computeIcrfToFixedMatrix(t);
    if (Cesium.defined(icrfToFixed)) {
        var camera = viewer.camera;
        var offset = Cesium.Cartesian3.clone(camera.position);
        var transform = Cesium.Matrix4.fromRotationTranslation(icrfToFixed);
        camera.lookAtTransform(transform, offset);
    }
    
    temp+={{speed}};
    if (temp > 86400){
        temp = 0;
    }
}
    
    viewer.scene.postUpdate.addEventListener(icrf);
    
    
    
    setInterval(function(){
       
    update();

}, 1000*60*30);

     
    
    
     function update(){
        const event = new Date();
        event.setSeconds(0)
        event.setMilliseconds(0)
        event.setMinutes(((event.getMinutes()%15)*15)+15)

        viewer.dataSources.removeAll();
        if(document.getElementById("online").checked == true){
            Online = Cesium.CzmlDataSource.load("/czml?t="+event.toISOString()); /*Hack to take advantage of cloud flare chache on dynamic content.*/
            viewer.dataSources.add(Online);
        }
        if(document.getElementById("offline").checked == true){
            Offline = Cesium.CzmlDataSource.load("/czmloff?t="+event.toISOString());
            viewer.dataSources.add(Offline);
        }
        if(document.getElementById("testing").checked == true){
            Testing = Cesium.CzmlDataSource.load("/czmltest?t="+event.toISOString());
            viewer.dataSources.add(Testing);
        }
    }
    
    
    
    function toggle(){
        viewer.animation.container.hidden = !viewer.animation.container.hidden;
       
    }

    
  </script>


 
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This visual work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> <a href="https://gitlab.com/chibill/satnogsmap/tree/master">Source Code</a> is licensed under the AGPL license.  Produced by William Gaylord KD9KCK 

